<h1>Here are all the authors:</h1>

<ul>
<% @authors.each do |author| %>
  <li>
    <%= link_to author.name, author %> <% <%= author.birth_year %> 
  </li>
<% end %>
</ul>

<%= button_to "Create Author", new_author_path, method: :get %>
