<h1>Here are all the books:</h1>

<%= button_to "Create Book", new_book_path, method: :get %>

<ul>
<% @books.each do |book| %>
  <li>
    <%= link_to book.name, book %> (b. <%= book.title%>)
  </li>
<% end %>
</ul>
